%flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.containerCard {
  @extend %flexbox;

  width: 21.9375rem;
  padding: 0.5rem 1rem;

  background-color: var(--color-grey-1);
  border-radius: 0.25rem;
  border-left: 4px solid;

  &.borderGreen {
    border-color: var(--color-secondary);
  }

  &.borderGrey {
    border-color: var(--color-grey-2);
  }
}

.containerInfo {
  @extend %flexbox;

  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.btnCard {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 3rem;
  height: 1.1875rem;
  margin: 0.5rem 0;

  border-radius: 0.125rem;

  background-color: var(--color-grey-2);
  color: var(--color-grey-4);

  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8525rem;
}

@media (min-width: 870px) {
  .containerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;

    width: 28.125rem;
  }

  .containerValue {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
