.container {
  display: flex;
  flex-direction: column;

  width: 22.1875rem;

  margin: 1rem auto;
  padding: 1rem;

  border: 1px solid var(--color-grey-2);
  border-radius: 0.25rem;
}

.divValue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
